@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.container {
  margin-top: 2rem;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #E75480;
    color: white;
}